@{
    ViewData["Title"] = "Level 2";
}

<div class="well">
    <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
    <ol>
        <li>...all teams in the Atlantic Soccer Conference</li>
        <li>...all (current) players on the Boston Penguins</li>
        <li>...all teams in the International Collegiate Baseball Conference</li>
        <li>...all teams in the American Conference of Amateur Football</li>
        <li>...all football teams</li>
        <li>...all teams with a (current) player named "Sophia"</li>
        <li>...everyone with the last name "Flores" who DOESN'T (currently) play for the Raptors (hint: think about ways you can filter data on the cshtml side)</li>
        <li>...all current players with the Manitoba Tiger-Cats</li>
        <li>...all teams that have had 12 or more players</li>
    </ol>
</div>



<div class="col-sm-6">
    <h3>Leagues Queries - ViewBag</h3>
    <table class="table table-striped">
        @foreach(var l in ViewBag.LeaguesQueries)
        {
            <tr>
                <th>@l.Name's Team</th>
                <th>Team Location</th>
            </tr>
            @foreach(var t in l.Teams){
                <tr>
                    <td>@t.TeamName</td>
                    <td>@t.Location</td>
                </tr>
            }
        }
        
    </table>
</div>

@* @model IEnumerable<League>  //only one @model per cshtml
<div class="col-sm-6">
    <h3>Leagues Queries - Model </h3>
    <table class="table table-striped">
        // Beware: Model is the LIST of League 
        @foreach(var l in Model)        
        {
            <tr>
                <th>@l.Name's Team</th>
                <th>Team Location</th>
            </tr>
            // And Teams are INSIDE each League, not directly under Model!! 
            // Essentially, second loop is same as ViewBag structure 
            @foreach(var t in l.Teams){
                <tr>
                    <td>@t.TeamName</td>
                    <td>@t.Location</td>
                </tr>
            }
        }
        
    </table>
</div>  *@



<div class="col-sm-6">
    <h3>Team Queries - ViewBag</h3>
    <table class="table table-striped">
        @foreach(var t in ViewBag.TeamQueries)
        {
            <tr>
                <th>@t.Location  @t.TeamName </th>
                <th> </th>
            </tr>
            @foreach(var p in t.CurrPlayers){
                <tr>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                </tr>
            }
        }
    </table>
</div> 

@* @model IEnumerable<Team>
<div class="col-sm-6">
    <h3>Team Queries - Model </h3>
    <table class="table table-striped">
        @foreach(var t in Model)
        {
            <tr>
                <th>@t.Location  @t.TeamName </th>
                <th> </th>
            </tr>
            @foreach(var p in t.CurrPlayers){
                <tr>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                </tr>
            }
        }
    </table>
</div>  *@

@model IEnumerable<League>  //only one @model per cshtml
<div class="col-sm-6">
    <h3>Leagues Queries - Model </h3>
    <table class="table table-striped">
        @* // Beware: Model is the LIST of League  *@
        @foreach(var l in Model)        
        {
            <tr>
                <th>@l.Name's Team</th>
                <th>Team Location</th>
            </tr>
            // And Teams are INSIDE each League, not directly under Model!! 
            // Essentially, second loop is same as ViewBag structure 
            @foreach(var t in l.Teams){
                <tr>
                    <td>@t.TeamName</td>
                    <td>@t.Location</td>
                </tr>
            }
        }
        
    </table>
</div> 







@* <div class="col-sm-6">
        <h3>All Baseball Leagues</h3>
        <table class="table table-striped">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach(var l in ViewBag.BaseballLeagues)
            {
                <tr>
                    <td>@l.Name</td>
                    <td>@l.Sport</td>
                </tr>
            }
        </table>
    </div> *@