@{
    ViewData["Title"] = "Level 3";
}

<div class="well">
    <p>Using the SportsORM, complete all the following queries and show their results on Level3.cshtml.</p>
    <ol>
        <li>...all teams, past and present, that Alexander Bailey has played with</li>
        <li>...all players, past and present, with the Manitoba Tiger-Cats</li>
        <li>...all players who were formerly (but aren't currently) with the Wichita Vikings</li>
        <li>...every team that Emily Sanchez played for before she joined the Indiana Royals</li>
        <li>...everyone named "Levi" who has ever played in the Atlantic Federation of Amateur Baseball Players</li>
        <li>...all players, sorted by the number of teams they've played for</li>
    </ol>
</div>


 @* @model IEnumerable<Player>  //IEnum1 - Output Version1
 <div class="col-sm-6">
        <h3>All Teams Past/Present</h3>
        <table class="table table-striped">
            <tr>
                <th>Player ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Curr Team</th>
                <th>Team ID</th>
                <th>Past Team</th>
            </tr>
            @foreach(var p in Model)
            {
                <tr>
                    <td>@p.PlayerId</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.CurrTeam.TeamName</td>
                    <td>@p.CurrTeam.TeamId</td>
                    <td>
                        <table class="table">
                            @* <th>Past Team</th>
                            <th>Team ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>  //
                            @foreach (var t in p.PastTeams)
                            {
                                <tr>
                                    <td>@t.PastTeamOfPlayer.TeamName</td>
                                    <td>@t.PastTeamOfPlayer.TeamId</td>
                                    @* <td>@t.PlayerOnTeam.FirstName</td> //
                                    @* <td>@t.PlayerOnTeam.LastName</td> //
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </table>
    </div>   *@

 @* @model IEnumerable<Player>  //IEnum1 - Output Version2
 <div class="col-sm-6">
        <h3>All Teams Past/Present</h3>
        <table class="table table-striped">
            <tr>
                <th>Player ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
            </tr>
            @foreach(var p in Model)
            {
                <tr>
                    <td>@p.PlayerId</td>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>
                        <table class="table">
                            <tr>
                                <td>@p.CurrTeam.TeamName</td>
                                <td>@p.CurrTeam.TeamId</td>
                                <td>Curr</td>
                            </tr>
                            @foreach (var t in p.PastTeams)
                            {
                                <tr>
                                    <td>@t.PastTeamOfPlayer.TeamName</td>
                                    <td>@t.PastTeamOfPlayer.TeamId</td>
                                    @* <td>@t.PlayerOnTeam.FirstName</td> //
                                    @* <td>@t.PlayerOnTeam.LastName</td> //
                                    <td> </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </table>
    </div>   *@

@* @model IEnumerable<Team>  //IEnum2
 <div class="col-sm-6">
        <h3>All Players Past/Present</h3>
        <table class="table table-striped">
            <tr>
                <th>Location</th>
                <th>Team</th>
                <th>Players</th>
                @* <th>Curr Team</th>
                <th>Team ID</th>
                <th>Past Team</th> //
            </tr>
            @foreach(var t in Model)
            {
                <tr>
                    <td>@t.Location</td>
                    <td>@t.TeamName</td>
                    <td>
                        <table class="table">
                            <th>First</th>
                            <th>Last</th>
                            <th>Curr</th>
                            @foreach (var cp in t.CurrPlayers)  // each cp is a player OBJ
                            {
                                <tr>
                                    <td>@cp.FirstName</td>
                                    <td>@cp.LastName</td>
                                    <td>Y</td>
                                </tr>
                            }
                            @foreach (var pp in t.PastPlayers)  // each pp is a combo of Team/Player OBJ
                            {
                                <tr>
                                    <td>@pp.PastPlayerOnTeam.FirstName</td>
                                    <td>@pp.PastPlayerOnTeam.LastName</td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </table>
    </div>  *@

@model IEnumerable<Team>  //IEnum3
 <div class="col-sm-6">
        <h3>All Players Past Only</h3>
        <table class="table table-striped">
            <tr>
                <th>Location</th>
                <th>Team</th>
                <th>Players</th>
                @* <th>Curr Team</th>
                <th>Team ID</th>
                <th>Past Team</th> //*@
            </tr>
            @foreach(var t in Model)
            {
                <tr>
                    <td>@t.Location</td>
                    <td>@t.TeamName</td>
                    <td>
                        <table class="table">
                            <th>First</th>
                            <th>Last</th>
                            <th>Curr</th>
                            @* @foreach (var cp in t.CurrPlayers)  // each cp is a player OBJ
                            {
                                <tr>
                                    <td>@cp.FirstName</td>
                                    <td>@cp.LastName</td>
                                    <td>Y</td>
                                </tr>
                            } *@
                            @foreach (var pp in t.PastPlayers)  // each pp is a combo of Team/Player OBJ
                            {
                                <tr>
                                    <td>@pp.PastPlayerOnTeam.FirstName</td>
                                    <td>@pp.PastPlayerOnTeam.LastName</td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }
        </table>
    </div> 